.actions {
    display: flex;
    flex-direction: row;
    margin-left: 25px;
    margin-bottom: 20px;
}

.actions__item:nth-child(1) {
    margin-right: 13px;
}

.actions__item:nth-child(1n+2) {
    margin-right: 10px;
}

.actions__item:nth-last-child(-n+1) {
    margin-right: 0;
}

.actions-all {
    display: flex;
    align-items: center;
}

.actions-all__checkbox {
    padding-left: 26px;
}